@font-face {
  font-family: "iconfont"; /* Project id 3996047 */
  src: url('/static/css/iconfont/iconfont.woff2?t=1680590816515') format('woff2'),
       url('/static/css/iconfont/iconfont.woff?t=1680590816515') format('woff'),
       url('/static/css/iconfont/iconfont.ttf?t=1680590816515') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e67f";
}
.icon-jia:before {
  content: "\e600";
}
.icon-shanchu:before {
  content: "\e642";
}

